
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu';
    color: aliceblue;
}

body {
    height: 100vh;
    background-color: #222222;
}

.img-main {
    width: 100%;
    max-height: 900px;
    object-fit: cover;
    object-position: center;
    filter: brightness(35%);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #222222;
    text-align: center;
    color: aliceblue;
    font-size: 1.1vw;
    padding: 8px 0;
}

header img {
    width: 4vw;
}

.texto-principal {
    position: absolute;
    text-align: center;
    width: 800px;
    top: 25%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: white;
    font-size: 1.4vw;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.title {
    font-size: 4.6vw;
    font-weight: 800;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.comentario {
    margin: 13vh 0;
    padding-left: 12vw;
    width: 50vw;
    text-align: left;
    font-size: 1.5vw;
    color: white;
    word-spacing: 0.07em;
    font-weight: 700;
}

.servicos {
    background-color: #333333;
    padding: 50px;
}

.servicos h2 {
    text-align: center;
    padding-bottom: 4vh;
}

.servicos-trab {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.img-trab {
    width: 30vw;
    margin: 0 auto;
    max-height: 35vh;
    padding: 15px;
}

#map {
    height: 500px;
}